* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  margin: 10px;
  background-color: #2e2f35;
  padding: 15px;
}
.logo {
  display: inline-block;
  width: 25%;
}
.logo h4 {
  color: #12bece;
  cursor: pointer;
}
nav {
  display: inline-block;
  width: 50%;
  text-align: center;
}
nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin-right: 25px;
}
li a {
  color: white;
  text-decoration: none;
}
li a:hover {
  color: #12bece;
  text-decoration: none;
  transition: 0.1s;
}
.search {
  display: inline-block;
  width: 23%;
}
.search #search-box {
  border: 0;
  padding: 5px;
  border-radius: 5px;
}
.search #search-btn {
  padding: 5px;
  border-radius: 5px;
  border: 0;
  background-color: #12bece;
  color: white;
  cursor: pointer;
}
#search-btn:hover {
  background-color: white;
  color: #12bece;
  box-shadow: 0 0 15px white;
}
#box {
  margin-top: 30px;
  margin-left: 100px;
  color: red;
  font-size: 20px;
}
.video {
  margin-top: 3%;
  margin-left: 5%;
}
#btn {
  background-color: #2e2f35;
}
.active {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: inline-block;
  background-color: #12bece;
  padding: 9px;
  margin-top: 3%;
  margin-left: 5%;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}
.active:hover {
  background-color: #2e2f35;
  color: #12bece;
  transition: 5ms;
}
